@import url(https://fonts.google.com/specimen/Spartan);
// Color Pallet

$dark-grey: #a1a1a1;
$black: #000000;
$white: #ffffff;
$vd-grey: #454545;

* {
  font-size: 12;
  font-family: Spartan, sans-serif;
}
